<template>
    <input 
        type="tel" 
        ref="dateField"
        :readonly="readonly" 
        :id="id" 
        :name="name" 
        :class="className"
        :placeholder="placeholder"
        :value="value" 
        autocomplete="off"
        
        @keydown="handleKeyDown($event)"
        @input="handleInput($event)"
        @change="handleChange($event)"

        @dblclick="handleDoubleClick($event)" 
        @mousedown="startDrag($event)" 
        @mousemove="doDrag($event)"
        @mouseup="stopDrag($event)"
        />
</template>

<script>

    export default {
        name: 'date-field',
        model: {
            prop: 'modelValue',
            event: 'input'
        },
        props: {
            modelValue: {
                type: String,
                default: ''
            },
            name: {
                type: String,
                default: ''
            },
            maxDate: {
                type: [Number],
                default: 100 // +100 years | -100 years
            },
            minDate: {
                type: [Number],
                default: 0 // 0 == Present Date
            },
            id: {
                type: String,
            },
            delimiter: {
                type: String,
                default: '-'
            },
            className: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: ''
            },
            readonly: {
                type: Boolean,
                default: false
            }
        },
        data: function() {
            return {
                complete: false,
                value: this.modelValue,
                xAxis: 'no',
                yAxis: 'no',
                sPos: 0,
                ePos: 0,
                drag: false,
                moveCarretTimeout: null,
                format: `dd${this.delimiter}mm${this.delimiter}yyyy`,
            }
        },
        computed: {

        },
        mounted() {

            if(this.maxDate <= this.minDate) {
                alert('Max Date must be larger than Min Date!');
            }

            this.value = this.modelValue == '' ? this.format : this.modelValue;
            
        },
        methods: {
            handleKeyDown(e) {

                let el = e.target;
                let oldVal = el.value;

                this.sPos = el.selectionStart
                this.ePos = el.selectionEnd

                let selection = this.sPos != this.ePos;

                let defaultVal = this.format;
                let char = 'd';
                let jump = 0;

               // Arrow Left:
               // Allow arrow left when on the last position
                if(e.which === 37) {
                    return true;
                }

                // Selection:
                // Back and Delete Buttons
                if( e.which === 8 || e.which === 46) {

                    if(selection) {

                        let mask = defaultVal.slice(this.sPos, this.ePos);

                        let p1 = oldVal.slice(0, this.sPos);
                        let p2 = oldVal.slice(this.ePos)

                        defaultVal = p1 + mask + p2

                        el.value = defaultVal;

                        let pos = e.which === 46 ? this.ePos : this.sPos;

                        el.setSelectionRange(pos, pos);
                        this.value = defaultVal;

                        e.preventDefault();
                        this.$emit('input', defaultVal)
                        return false;
                    }

                }

                // Back Button:
                if( e.which === 8 ) { 

                        if(this.sPos === 0) {
                            e.preventDefault();
                            return false;
                        }

                        jump = -1;

                        if(this.sPos >= 4 ) {
                            char = 'm';
                        }

                        if(this.sPos >= 7 ) {
                            char = 'y';
                        }

                        if( this.sPos === 3 || this.sPos === 6) {
                            char = this.delimiter;
                        }

                        if( this.sPos === 7 || this.sPos === 4) {
                            jump = -2
                        }

                        defaultVal = oldVal.slice(0, this.sPos - 1) + char + oldVal.slice(this.sPos);

                        el.value = defaultVal;
                        el.setSelectionRange(this.sPos + jump, this.sPos + jump);

                        this.value = defaultVal;

                        e.preventDefault();
                        this.$emit('input', defaultVal)
                        return false;

                } 

                
                // Delete Button:
                if( e.which === 46 ) { 

                        if(this.sPos === 10) {
                            e.preventDefault();
                            return false;
                        }

                        jump = 1

                        if(this.sPos >= 3 ) {
                            char = 'm';
                        }

                        if(this.sPos >= 6 ) {
                            char = 'y';
                        }

                        if( this.sPos === 1 || this.sPos === 4) {
                            jump = 2
                        }

                        defaultVal = oldVal.slice(0, this.sPos) + char + oldVal.slice(this.sPos + 1);
                        el.value = defaultVal;
                        el.setSelectionRange(this.sPos + jump, this.sPos + jump);

                        this.value = defaultVal;

                        e.preventDefault();
                        this.$emit('input', defaultVal)
                        return false;

                }

                // Prevent keys when on last position
                if(this.sPos > 9) {
                    e.preventDefault();
                    return false;
                }
            },
            handleInput(e) {

                this.checkInputValue(this.sPos, this.ePos, e.target.value)

            },
            checkInputValue(sPos, ePos, value) {

                const input = this.$refs.dateField;

                const numRegex = /\d+/g;
                const deliReg = new RegExp(this.delimiter, 'g');

                let jump = 0;

                let model = this.format;
                let output = '';

                let selection = sPos != ePos;

                let mask = model.slice(sPos, ePos);


                // 1st Part =   [x]-[ ]-[ ]
                 let p1 = value.slice(0, sPos);

                // 2nd Part =   [ ]-[ ]-[x]
                let p2 = model.slice(ePos)
 
                // Inner Part = [ ]-[x]-[ ]
                let p3 = '';

                let inputVal = '';


                if( p2.length ) {

                    p2 = value.slice(p2.length * -1);
                    inputVal = value.slice(sPos, p2.length * -1)

                } else {

                    p2 = '';
                    inputVal = value.slice(sPos)
                }

                inputVal = inputVal.match(numRegex);

                if( inputVal === null ) {

                    p3 = selection ? mask : '';
                    p3 = p3 + p2;

                    jump = sPos;

                } else {

                    // Get carrent position witout the dashes
                    let pos = (sPos >= 3) ? sPos - 1 : sPos;
                        pos = (sPos >= 6) ? sPos - 2 : pos;
                    
                    inputVal = inputVal.join('');

                    mask = mask.replace(deliReg, '');
                    p1 = p1.replace(deliReg, '');
                    p2 = p2.replace(deliReg, '');

                    if(selection) {

                            if( inputVal.length < (ePos - sPos) ) {

                                mask = mask.slice(inputVal.length) + p2;

                            }   else {

                                mask = p2;

                                // Remove first char if cursor is before delimiter
                                if( sPos === 2 || sPos === 5 ) {
                                    mask = mask.substring(1);
                                }
                            }
                        
                    } else {

                        mask = p2.slice(inputVal.length);

                    }

                    let ml = 8 - pos;
                    let preCompose = p1 + inputVal + mask;

                    // Loop through selection items and validate each item
                    for(let i = 0; i < ml; i++) {

                        let currentIndex = pos + i;
                        let currentNum =  inputVal[i];

                        if( inputVal.length === i) {
                            p3 = p3 + preCompose.slice(currentIndex);
                            break
                        }

                        // Day Logic
                        if(currentIndex == 0 || currentIndex == 1 ) {
                            
                            let day = currentNum.toString() + preCompose[1];
                                day = currentIndex == 1 ? preCompose[0] + currentNum.toString() : day;
                                day = day.replace(/d/g, '1');

                            if( day > 31 || day < 1 ) {

                                p3 += 'd';
                                jump = currentIndex;

                            } else {

                                p3 += currentNum;
                                jump = currentIndex == 1 ? currentIndex + 2 : currentIndex + 1;
                                
                            }

                        }

                        // Month Logic
                        if(currentIndex == 2 || currentIndex == 3) {

                            let mon = currentNum.toString() + preCompose[3];
                                mon = currentIndex == 3 ? preCompose[2] + currentNum.toString() : mon;
                                mon = mon.replace(/m/g, '1');

                            if( mon > 12 || mon < 1 ) {

                                p3 += 'm';
                                jump = currentIndex + 1;

                            } else {

                                p3 += currentNum;
                                jump = currentIndex == 3 ? currentIndex + 3 : currentIndex + 2;
                            }

                        }

                        // Year Logic
                        let date = new Date();

                        let current = date.getFullYear();
                        let max = current + this.maxDate;
                        let min = current + this.minDate;

                        max = max.toString();
                        min = min.toString();

                        if(currentIndex == 4 ) {

                            if( currentNum > max[0] || currentNum < min[0] ) {

                                p3 += 'y';
                                jump = currentIndex + 2;
                            
                            } else {

                                // Always reset year when changing the first number 
                                p3 += currentNum + 'yyy';
                                jump = currentIndex + 3;

                            }

                        }

                        if(currentIndex == 5 ) {

                            let cy = max[0] + max[1];
                            let py = min[0] + min[1];
                            let mil = preCompose[4] == 'y' ? 0  + currentNum : preCompose[4] + currentNum;

                            // Remove 'y' added by the first year number
                            p3 = p3.slice(0, i)

                            if( mil > cy || mil < py ) {
                                p3 += 'y';
                                jump = currentIndex + 2;
                            } else {
                                p3 += currentNum;
                                jump = currentIndex + 3;

                            }

                        }
                        
                        if(currentIndex == 6 ) {

                            let year = preCompose.slice(4, 8);

                            // Get only first 3 numbers of year to compare with min max
                            let yearPart = year.slice(0, -1); 
                            let maxPart = max.slice(0, -1);
                            let minPart = min.slice(0, -1);


                            // Check when inserting between numbers.
                            let suffix =  '';
                            let yearTen = year.slice(2, 4);
                            // If TRUE append 'y' to reset last number of year
                            // this will hanlde paste and keyup events
                            if(yearTen.indexOf('y') < 0) {

                                let maxTen = max.slice(2, 4);
                                let minTen = min.slice(2, 4);

                                if( yearTen > maxTen || yearTen < minTen ) {
                                    suffix = 'y'
                                }
                            }

                            if( yearPart > maxPart || yearPart < minPart ) {
                                p3 += 'y' + suffix;
                                jump = currentIndex + 2;
                            } else {
                                p3 += currentNum + suffix;
                                jump = currentIndex + 3;
                            }
                        }

                        if(currentIndex == 7 ) {
                            let year = preCompose.slice(4, 8);

                            if( year > max || year < min ) {
                                p3 += 'y';
                                jump = currentIndex + 2;
                            } else {
                                p3 += currentNum;
                                jump = currentIndex + 3;
                            }

                        }

                    }

                }

                output = p1 + p3
                output = output.replace(deliReg, '').slice(0, 8);

                output = output.slice(0, 2) + this.delimiter + output.slice(2);
                output = output.slice(0, 5) + this.delimiter + output.slice(5);

                input.value = output;
                input.setSelectionRange(jump, jump);
                this.value = output;

                this.$emit('input', output)

            },
            handleChange(e) {
                this.$emit('change', e.target.value)
            },
            handleClick(e) {
                e.preventDefault();
            },
            handleDoubleClick() {
                clearTimeout(this.moveCarretTimeout);
            },
            triggerMoveCarret(value){

                let _this = this;

                this.moveCarretTimeout = setTimeout( function(){
                    _this.moveCarret(value);
                }, 10);
            },
            startDrag() {
                this.drag = true;
                this.xAxis = this.yAxis = 0;
            },
            stopDrag(e) {
                this.drag = false;

                if(this.xAxis == 0 && this.yAxis == 0) {
                    this.triggerMoveCarret(e.target.value);
                }

                this.xAxis = this.yAxis = 'no';
            },
            doDrag(e) {
                if (this.drag) {
                    this.xAxis = e.clientX;
                    this.yAxis = e.clientY;
                }
            },
            moveCarret(val){

                const el = this.$refs.dateField;

                let pos = 10;

                if( val.indexOf('y') !== -1 ) {
                    pos = val.indexOf('y');
                }

                if( val.indexOf('m') !== -1 ) {
                    pos = val.indexOf('m');
                } 

                if( val.indexOf('d') !== -1 ) {
                    pos = 0;
                    pos = val.indexOf('d');
                } 

                // Modern browsers
                if (el.setSelectionRange) {
                    el.setSelectionRange(pos, pos);
                // IE8 and below
                } else if (el.createTextRange) {
                    var range = el.createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', pos);
                    range.moveStart('character', pos);
                    range.select();
                }


            },
      },
        
    }
    
</script>

<style scoped>
</style>