$screen-min-xs: 576px;
$screen-min-sm: 768px;
$screen-min-md: 992px;
$screen-min-lg: 1200px;

@mixin screen-min-xs {
  @media  screen and (min-width: $screen-min-xs) { @content; }
}

@mixin screen-min-sm {
  @media  screen and (min-width: $screen-min-sm) { @content; }
}

@mixin screen-min-md {
  @media  screen and (min-width: $screen-min-md) { @content; }
}

@mixin screen-min-lg {
  @media  screen and (min-width: $screen-min-lg) { @content; }
}

$screen-max-xs: ($screen-min-xs - 1);
$screen-max-sm: ($screen-min-sm - 1);
$screen-max-md: ($screen-min-md - 1);

@mixin screen-max-xs {
  @media  screen and (max-width: $screen-max-xs) { @content; }
}

@mixin screen-max-sm {
  @media  screen and (max-width: $screen-max-sm) { @content; }
}

@mixin screen-max-md {
  @media  screen and (max-width: $screen-max-md) { @content; }
}