<template>
    <div class="form-group">
        <button-group 
            :data="options"
            name="step"
            v-model="step"
            :cols="6"
            :col-md="3"
            :col-sm="2"
            :col-xs="1"
            :showmore="true"
        /> 
    </div>
</template>
<script>
    export default {
	    data: function() {
            return {
                options: [1,2,3,4,5,6,7,8],
                step: ``
            }
        },
    }
</script>