<template>
  <div class="form-group">
    <date-field
            name="date" 
            v-model="date"
            :max-date="-18"
            :min-date="-100"
            class="form-control"
        />
  </div>
</template>
<script>
    export default {
	    data: function() {
            return {
                date: ''
            }
        },
    }
</script>

<style>
  .form-control {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>