<template>
  <div>
    <label>google address tool</label>
    <google-address-tool 
        name="address"
        v-model="address" 
        @change="handleChange"
        class="form-control"
    />

    <label>street number</label>
    <input type="text" name="street_number" v-model="street_number" class="form-control">

    <label>street name</label>
    <input type="text" name="street_name" v-model="street_name" class="form-control">

    <label>street type</label>
    <input type="text" name="street_type" v-model="street_type" class="form-control">

    <label>postcode</label>
    <input type="text" name="postcode" v-model="postcode" class="form-control">

    <label>suburb</label>
    <input type="text" name="suburb" v-model="suburb" class="form-control">

    <label>google verified</label>
    <input type="text" name="verified_by_google" v-model="verified_by_google" class="form-control">
  </div>
</template>
<script>
    export default {
	    data: function() {
            return {
                address: '',
                street_number: '',
                street_name: '',
                street_type: '',
                postcode: '',
                suburb: '',
                verified_by_google: '',
            }
        },
        methods: {
            handleChange(address, obj){

                this.address = address
                this.street_number = obj.street_number
                this.street_name = obj.street_name
                this.street_type = obj.street_type
                this.suburb = obj.suburb
                this.postcode = obj.postcode
                this.verified_by_google = obj.google_verified ? 1 : 0;

            }
        }
    }
</script>
<style scoped lang="scss">
    label {
        font-size: 14px;
        margin: 10px 0 5px;
        display: block;
    }
    .form-control {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>