<template>
  <div>
      <button @click="toggleModal">Open Modal</button>

      <modal :condition="open" size="sm" @toggle="toggleModal" classes="modal">

          <template v-slot:header>
              <div class="modal-header">
                  <h2>Modal Header</h2>
              </div>
          </template>

          <template v-slot:body>
              <div class="modal-body">
                <p>Modal Content</p>
              </div>
          </template>

          <template v-slot:footer>
              <div class="modal-footer">
                  <button @click.prevent="toggleModal">Close</button>
              </div>
          </template>

      </modal>

  </div>
</template>
<script>
    export default {
	    data(){
            return {
            open: false
        }
      },
      methods: {
        toggleModal(value){
          this.open = !this.open
        },
      }
    }
</script>

<style scoped>
</style>