<template>

    <input 
        type="text" 
        ref="addressField"
        :readonly="readonly" 
        :name="name" 
        :class="classes"
        :placeholder="placeholder"
        :value="modelValue"
        
        @input="handleInput($event)" 
        @keyup="handleKeyup($event)" 
        @change="handleChange($event)">

</template>

<script>

    export default {
        name: 'google-address-tool',
        model: {
            prop: 'modelValue',
            event: 'change'
        },
	    props: {
            modelValue: {
                type: String,
                default: ''
            },
            name: {
                type: String,
                default: ''
            },
            streetOptions: {
                type: Array,
                default: function(){
                    return ['Avenue', 'Crescent', 'Drive', 'Road', 'Street', 'Access', 'Alley', 'Alleyway', 'Approach', 'Arcade', 'Bank', 'Basin', 'Beach', 'Bend', 'Blank', 'Block', 'Boulevard', 'Bowl', 'Brace', 'Brae', 'Break', 'Bridge', 'Broadway', 'Brow', 'Bypass', 'Byway', 'Causeway', 'Centre', 'Centreway', 'Chase', 'Circle', 'Circlet', 'Circuit', 'Circus', 'Close', 'Colonnade', 'Common', 'Concourse', 'Copse', 'Corner', 'Corso', 'Court', 'Cove', 'Crossing', 'Crossroad', 'Crossway', 'Cruiseway', 'Cul-de-sac', 'Cutting', 'Dale', 'Dell', 'Deviation', 'Dip', 'Distributor', 'Drive South', 'Driveway', 'Edge', 'Elbow', 'End', 'Entrance', 'Esplanade', 'Estate', 'Expressway', 'Extension', 'Fairway', 'Fire Track', 'Firetrail', 'Flat', 'Follow', 'Footway', 'Foreshore', 'Formation', 'Freeway', 'Front', 'Frontage', 'Gap', 'Garden', 'Gardens', 'Gate', 'Gates', 'Glade', 'Glen', 'Grange', 'Green', 'Ground', 'Grove', 'Gully', 'Heights', 'Highroad', 'Highway', 'Hill', 'Hub', 'Interchange', 'Intersection', 'Junction', 'Key', 'Landing', 'Lane', 'Laneway', 'Lees', 'Line', 'Link', 'Little', 'Lookout', 'Loop', 'Lower', 'Mall', 'Meander', 'Mew', 'Mews', 'Mile', 'Motorway', 'Mount', 'Nook', 'Outlook', 'Parade', 'Park', 'Parklands', 'Parkway', 'Part', 'Pass', 'Path', 'Piazza', 'Pier', 'Place', 'Place East', 'Place North', 'Place South', 'Place West', 'Plateau', 'Plaza', 'Pocket', 'Point', 'Port', 'Promenade', 'Quad', 'Quadrangle', 'Quadrant', 'Quay', 'Quays', 'Ramble', 'Ramp', 'Range', 'Reach', 'Reserve', 'Rest', 'Retreat', 'Ride', 'Ridge', 'Ridgeway', 'Right Of Way', 'Ring', 'Rise', 'River', 'Riverway', 'Riviera', 'Road East', 'Road North', 'Roads', 'Roadside', 'Road South', 'Roadway', 'Road West', 'Ronde', 'Rosebowl', 'Rotary', 'Round', 'Route', 'Row', 'Rue', 'Run', 'Service Way', 'Siding', 'Slope', 'Sound', 'South', 'Spur', 'Square', 'Stairs', 'Statehighway', 'Station', 'Steps', 'Strand', 'Street East', 'Street North', 'Streets', 'Street South', 'Street West', 'Strip', 'Tarnice Way', 'Terrace', 'Thoroughfare', 'Tollway', 'Top', 'Tor', 'Towers', 'Track', 'Trail', 'Trailer', 'Triangle', 'Trunkway', 'Turn', 'Underpass', 'Upper', 'Vale', 'Viaduct', 'View', 'Villa', 'Vista', 'Wade', 'Walk', 'Walkway', 'Way', 'Wharf', 'Wood', 'Wynd', 'Yard'];
                }
            },
            classes: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: ''
            },
            readonly: {
                type: Boolean,
                default: false
            }
        },
	    data: () => {
            return {
                address: {
                    street_number: '',
                    street_name: '',
                    street_type: '',
                    suburb: '',
                    state: '',
                    postcode: '',
                    country: '',
                    address_string: '',
                    google_verified: '',
                }
            }
        },
        computed: {

        },
        mounted() {

            const _this = this;
            const el = this.$refs.addressField;

            this.$gmapApiPromise().then(() => {

                let autocomplete = new google.maps.places.Autocomplete((el), {types: ['geocode']});
                
                autocomplete.addListener('place_changed', () => {

                    const details = autocomplete.getPlace();
                    _this.formatAddress(details);
                    _this.$emit('change', details.formatted_address,  _this.address)

                });

            }).catch((error) => {
                throw error
            })

        },
        methods: {
            handleInput(e) {
                this.$emit('input')
            },
            handleKeyup(e) {
                this.$emit('keyup')
            },
            handleChange(e) {

                this.address = {
                    street_number: '',
                    street_name: '',
                    street_type: '',
                    suburb: '',
                    state: '',
                    postcode: '',
                    country: '',
                    address_string: e.target.value,
                    google_verified: false,
                };

                this.$emit('change', e.target.value, this.address)
            },
            formatAddress(addressObj) {

                let _this = this;
                let obj = this.setArrayKeyByType(addressObj.address_components);

                if ( obj['subpremise'] ) {
                    _this.address.street_number = obj['subpremise'] + "/" + obj['street_number'];
                } else {
                    _this.address.street_number = obj['street_number'] || '';
                }

                let streetObj = this.setStreetNameAndType(obj['route']);

                _this.address.street_name = streetObj.name 
                _this.address.street_type = streetObj.type
                
                _this.address.suburb = obj["locality"] || '';
                _this.address.state = obj['administrative_area_level_1'] || '';
                _this.address.postcode = obj["postal_code"] || '';
                _this.address.country = obj['country'] || '';

                _this.address.address_string = obj['formatted_address'] || '';
                _this.address.google_verified = true;

            },
            setArrayKeyByType(arr) {
                let obj = {};

                for (let i = 0; i < arr.length; i++) {
                    let type = arr[i].types[0];
                    obj[type] = arr[i]['long_name'];
                }

                return obj;
            },
            //split street route "North Avenue" to "North" (street name) and "Avenue" and (street type), set fields
            setStreetNameAndType(route) {

                const _this = this;
                let arr = route ? route.split(" ") : [];
                let obj = { name: '', type: '' };

                if (arr.length === 2) {
                    let type = arr[1];
                    let index = _this.checkStreetType(type);

                    if (index !== false) {

                        obj.name = arr[0]
                        obj.type = _this.streetOptions[index];

                    } else {
                        //if cannot find matched street type, then copy entire route string to street name and leave street type blank;
                        obj.name = route               
                    }
                }

                if (arr.length > 2) {
                    let len = arr.length;
                    //assume street type consists of arr[len-2] and arr[len-1];
                    let type = arr[len - 2] + " " + arr[len - 1];   
                    let index = _this.checkStreetType(type);

                    if (index !== false) {

                        obj.type = _this.streetOptions[index];

                        let street_name = _this.arrayToString(arr, len - 2);

                        if (street_name === false) {
                            street_name = "";
                        }

                        obj.name = street_name 

                    } else {

                        let len = arr.length;
                        //assume street type is arr[len-1];
                        type = arr[len - 1];    
                        let index = _this.checkStreetType(type);

                        if (index !== false) {
                            obj.type = _this.streetOptions[index];

                            let street_name = _this.arrayToString(arr, len - 1);

                            if (street_name === false) {
                                street_name = "";
                            }

                            obj.name = street_name 

                        } else {
                            //if cannot find street type, then copy entire route string to street name and leave street type blank;
                            obj.name = route               
                        }
                    }


                }

                return obj;
            },
            //combine the first n elements of an array to a string with a space in between every two elements;
            arrayToString(arr, n) {

                if (arr.length < n) {
                    return false;   
                }
                let str = "";

                for (let i = 0; i < n; i++) {
                    if (i === 0)
                    {
                        str += arr[i];
                    } else
                    {
                        str += " " + arr[i];
                    }
                }
                return str;

            },
            checkStreetType(type) {
                for (let i = 0; i < this.streetOptions.length; i++) {
                    if ( this.streetOptions[i] == type) {
                        return i;
                    }
                }

                return false;
            },

	    }
        
    }
    
</script>

<style scoped lang="scss">

</style>