<template>
<transition name="modal">
    <div v-if="condition" :class="`pgc-modal ${classes}`">
        <div :class="`modal-dialog modal-${size}`" :style="hasCustomMaxWidth" role="document">
            <div class="modal-content">
                <button :disabled="freeze" class="modal-toggle icon icon-cross-thin" @click="$emit('toggle')">&mdash;</button>
                <slot name="header"></slot>
                <slot name="body"></slot>
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</transition> 
</template>


<script>
    export default {
        name: 'modal',
        data () {
            return {
            }
        },
        props: {
            size: {
                type: String,
                default: 'lg'
            },
            condition: {
                type: Boolean,
                default: false
            },
            freeze: {
                type: Boolean,
                default: false
            },
            classes: {
                type: String,
                default: ''
            },
            maxWidth: {
                type: Number,
                default: null
            }
        },
        methods: {},
        computed: {
            hasCustomMaxWidth(){
                if(this.maxWidth) {
                    return { 'max-width': this.maxWidth + 'px' }
                }
                return null
            }
        },
        mounted() {}

    }
</script>


<style lang="scss">

    @import '../../assets/scss/mixins.scss';

    .pgc-modal {
        text-align: center;
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        display: block;
        overflow: auto;
        transition: opacity .3s ease;

        &:before {
            @include  screen-min-sm{
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        };

        $modal-xs: 576px;
        $modal-sm: 768px;
        $modal-md: 992px;
        $modal-lg: 1200px;

        .modal-dialog {
            width: 100%;
            max-width: $modal-sm;
            display: inline-block;
            text-align: left;
            margin: auto;
            vertical-align: middle;
            overflow-y: initial !important;


            &.modal-xs {
                max-width: $modal-xs;
            }

            &.modal-sm {
                max-width: $modal-sm;
            }

            &.modal-md {
                max-width: $modal-md;
            }

            &.modal-lg {
                max-width: $modal-lg;
            }
        }

        &.modal-enter-active, 
        &.modal-leave-active {
            transition: all .3s ease;
        }
        &.modal-enter, 
        &.modal-leave-to {
            opacity: 0;
        }

        .modal-content {
            position: relative;
            transition: all .3s ease;
            padding: 30px;
            border: 1px solid #f3f3f3;
            background: #fff;

            button.modal-toggle {
                width: 22px;
                height: 22px;
                border: none;
                background: #000;
                color: #fff;
                border-radius: 22px;
                line-height: 20px;
                position: absolute;
                top: 8px;
                font-size: 9px;
                padding: 0;
                right: 8px;
                outline: none;
                cursor: pointer;

                &[disabled] {
                    cursor: not-allowed;
                    background: #999;
                }
            }
        }

        &.modal-enter 
        .modal-content {
            transform: translateY(-20px);
        }

        &.modal-leave-active 
        .modal-content {
            transform: translateY(-20px);
        }

    }

</style>
