<template>
    <div :class="['button-group-wrap', {'has-error' : error}]">
        
        <div class="button-group-inner">
            <template v-if="showmore">
                <div :class="getColumnClasses" v-for="(v, i) in getVisibleData" :key="i">
                    <label :class="checkVal(v.value) ? 'checked' : ''">
                        <input type="radio" :checked="checkVal(v.value)" :name="name" :value="v.value" @change="updateInput"> <span>{{ v.label }}</span>
                    </label>
                </div>

                <div v-show="show">
                    <div :class="getColumnClasses" v-for="(v, i) in getHiddenData" :key="i">
                        <label :class="checkVal(v.value) ? 'checked' : ''">
                            <input type="radio" :checked="checkVal(v.value)" :name="name" :value="v.value" @change="updateInput"> <span>{{ v.label }}</span>
                        </label>
                    </div>
                </div>
            </template>

            <template v-else>
                <div :class="getColumnClasses" v-for="(v, i) in getCleanData" :key="i">
                    <label :class="checkVal(v.value) ? 'checked' : ''">
                        <input type="radio" :checked="checkVal(v.value)" :name="name" :value="v.value" @change="updateInput"> <span>{{ v.label }}</span>
                    </label>
                </div>
            </template>
        </div>

        <div v-if="error" class="error-msg">{{ error }}</div>

        <div v-if="showmore" @click="toggleShow($event)" class="showmore-btn">
            <span v-if="show"><strong>- less options</strong></span>
            <span v-else><strong>+ more options</strong></span>
        </div>

    </div> 
</template>

<script>
    export default {
        name: 'button-group',
        data: function() {
            return {
                value: this.modelValue,
                show: false,
            }
        },
        model: {
            prop: 'modelValue',
            event: 'change'
        },
        props: {
            data: {
                type: [Array, Object],
                required: true
            },
            name: {
                type: String,
                required: true
            },
            modelValue: {
                type: [String, Number],
            },
            error: {
                type: String
            },
            required: {
                type: Boolean,
                default: true
            },
            showmore: {
                type: Boolean,
                default: false
            },
            rows: {
                type: [String, Number],
                default: 1
            },
            cols: {
                type: [String, Number],
                default: 1
            },
            colMd: {
                type: [String, Number],
            },
            colSm: {
                type: [String, Number],
            },
            colXs: {
                type: [String, Number],
            },
        },
        mounted() {
            this.showMoreOptions();
        },
        computed: {
            getCleanData() {

                if(this.data.length && this.data[0]['label'] && this.data[0]['value']) {
                    return this.data;
                } 

                return this.data.map( (d) => {
                    return { label : d, value: d};
                })

            },
            getVisibleData () {
                let count = this.cols * this.rows
                return this.getCleanData.slice(0, count);
            },
            getHiddenData () {
                let count = this.cols * this.rows
                return this.getCleanData.slice(count);
            },
            getColumnClasses () {

                let md = this.colMd ? `btn-col-md-${this.colMd}` : '';
                let sm = this.colSm ? `btn-col-sm-${this.colSm}` : '';
                let xs = this.colXs ? `btn-col-xs-${this.colXs}` : '';

                return `btn-col btn-col-${this.cols} ${xs} ${sm} ${md}`
            },
        },
        methods: {
            updateInput(e){
                this.value = e.target.value;
                this.$emit('change', this.value)
            },
            showMoreOptions () {

                if(this.modelValue) {

                    let options = this.getCleanData;
                    let count = parseInt(this.cols);

                    for(let i = 0; i < options.length; i++) {

                        let item = options[i];

                        if(this.modelValue == item.value && count <= i) {
                            this.show = true;
                            break;
                        }
                    }
                }
            },
            toggleShow(e){

                this.show = !this.show

                const _this = this;

                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && this.show ) {
                    setTimeout(() => {
                        _this.scrollToElement(e.target, 20);
                    }, 200);
                }

            },
            /**
             *  Scrolls to the bottom of target element.
             *  el: element to scroll to.
             *  offset: number of px to add below the element.
             *
             */
            scrollToElement(el, offset){
                
                let duration = 600;

                let startingY = window.pageYOffset
                let winH = window.innerHeight
                let elementY = window.pageYOffset + el.getBoundingClientRect().top
                let elementH = el.offsetHeight + offset;

                let diff = elementY - winH
                    diff = (diff + elementH)  - startingY 

                // Easing function: easeInOutCubic
                // From: https://gist.github.com/gre/1650294
                let easing = function (t) { return t<.5 ? 4*t*t*t : (t-1)*(2*t-2)*(2*t-2)+1 };
                let start = null;

                if (!diff) return;

                window.requestAnimationFrame(function step(timestamp) {

                    if (!start) start = timestamp
                    let time = timestamp - start
                    let percent = Math.min(time / duration, 1)

                    percent = easing(percent)
                    window.scrollTo(0, startingY + (diff * percent))

                    if (time < duration) {
                        window.requestAnimationFrame(step)
                    }

                })

            },
            checkVal(val){

                let v1 = this.value
                let v2 = val

                if(typeof v1 == 'string') {
                    v1 = v1.toLowerCase();
                    v2 = v2.toString().toLowerCase();
                }

                return v1 == v2

            }
        },
    }
</script>

<style scoped lang="scss">

    @import '../../assets/scss/mixins.scss';

    $tint: #0092ff;
    $shade: #b3e2ff;
    $shadow: #eee;

    $mb: 10px;
    $mr: 10px;

    $mb-sm: 6px;
    $mr-sm: 6px;

    $iterations: 10;

    @for $i from $iterations through 1 {

        $width: 100% / #{$i};

        .btn-col-#{$i} {
            width: $width;
        }

        .btn-col-md-#{$i} {
            @include screen-max-md {
                width: $width;
            }
        }

        .btn-col-sm-#{$i} {
            @include screen-max-sm {
                width: $width;
            }
        }

        .btn-col-xs-#{$i} {
            @include screen-max-xs {
                width: $width;
            }
        }

        $i: $i - 1;
    }

    .btn-col {
        display: inline-block;

        label {
            margin: 0 $mb $mr 0;

        @include screen-max-sm {
                margin: 0 $mr-sm $mb-sm 0 !important;
            }

        }
    }

    .button-group-wrap {
        overflow: hidden;

        .showmore-btn {
            cursor: pointer;
            overflow: hidden;
            position: relative;

            @include screen-max-sm {
                text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 8px;
                width: 100%;
                height: 1px;
                border-bottom: 4px solid $shadow;
            }

            span {
                position: relative;
                z-index: 1;
                display: inline-block;
                background: #fff;
                padding-right: 15px; 

                @include screen-max-sm {
                    padding-left: 15px;
                }

            }
        }

    }

    .button-group-inner {

        margin-right: -$mr;

        @include screen-max-sm {
            margin-right: -$mr-sm;
            text-align: center;
        }

        label {
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            text-align: center;
            display: block;
            padding: 10px;
            background: $shade;
            border: 1px solid $shade;
    
            &:hover {
                border-color: $tint;
            }
            
            &.checked {
                color: #fff;
                background: $tint;
                border-color: $tint;
            }

            span {
                display: block;
                white-space: nowrap;
                overflow: hidden;
            }

            input {
                visibility: hidden;
                position: absolute;
            }

        }

    }

</style>


